{% extends "layout.html" %}

{% block head %}
	<title>
		Adamant Games - Adverdle
	</title>
{% endblock %}

{% block body %}
	<table class="adw-main" id="wt">
		<tr class="header-above-wordle">
			<td></td>
			{% for k in range(n) %}
				<td>
					{{usernames[k]}}'s word
				</td>
			{% endfor %}
		</tr>	
		{% for i in range(n) %}
			<tr class="adw-row" id="wr_{{i}}">
				<td>
					{{ usernames[i] }}'s guesses
				</td>
				{% for j in range(n) %}
					<td id="sw_{{i}}_{{j}}" class="subwordle">
						<!-- Guesses by player {{i}} on {{j}}'s word -->
					<td>
				{% endfor %}
			</tr>
		{% endfor %}
	</div>
	<form name="hiddenform">
	</form>
{% endblock %}
			