<html>

    <head>
        {% block head %} {% endblock %}

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="shortcut icon" type="image/png" href="../static/favicon.ico"/>
        <link rel="stylesheet" href="../static/all.css">

        <script type="text/javascript" src="../static/all.js"></script>
        <script type="text/javascript" src="../../static/all.js"></script> <!-- for /about, /make, and /play -->

        <style id="defaultstyle">
        </style>

	<style id="stylevars">
	</style>

	<style id="customstyle">
	</style>
	
	{% if alert_message %}
		<script>
			alert("{{alert_message}}");
		</script>
	{% else %}
		<script>
			// Hello, source-code-scroller. Hope you appreciate the non-minified code. Anyways, go check out Adamant on GitHub - it's fully open source!
			// Adamant Games was created.
		</script>
	{% endif %}

	{% if user.is_authenticated %}
	<script>
	fetch('get-settings?u='.concat("{{ user.username }}")).then(resp => resp.json()).then(function(json) {
	    localStorage.setItem('adage-primary', json.primary);
	    localStorage.setItem('adage-secondary', json.secondary);
	    localStorage.setItem('adage-tertiary', json.tertiary);
	    localStorage.setItem('adage-quaternary', json.quaternary);
	    localStorage.setItem('adage-faint1', json.faint1);
	    localStorage.setItem('adage-faint2', json.faint2);
	    localStorage.setItem('adage-sfaint1', json.sfaint1);
	    localStorage.setItem('adage-sfaint2', json.sfaint2);
	    localStorage.setItem('adage-bgcolor', json.bgcolor);
	    localStorage.setItem('adage-fbgcolor', json.fbgcolor);
	    localStorage.setItem('adage-affirm', json.affirm);
	    localStorage.setItem('adage-affirm2', json.affirm2);
	    localStorage.setItem('adage-neutral', json.neutral);
	    localStorage.setItem('adage-negative', json.negative);
	    localStorage.setItem('adage-font-family', json.font_family);
	    localStorage.setItem('adage-font-heading', json.font_heading);
	});
	</script>
	{% endif %}


    </head>

    <body>
        <br>
	<div style='margin:10px;'>
            {% block body %} {% endblock %}
	</div>
        <nav style="position:fixed; bottom:0%; width:100%; font-size:20px;" align="justify">
            <a href="" style="width:35%" class="navel" align="center">Settings</a>
            <a href="{% url 'index' %}" style="width:35%" class="navel" align="center">All Games</a>
            {% if user.is_authenticated %}
                <a href="{% url 'logout' %}" style="width:10%; color: firebrick" class="navel" align="center" id="logout-btn">Logout</a>
            {% else %}
                <a href="{% url 'login' %}" style="width:10%" class="navel" align="center">Login</a>
            {% endif %}
            <a href=""  style="width:10%" class="navel" align="center">Lobby</a>
        </nav>
            
    </body>

</html>