.select {
	background-color: var(--adage-fainter-p) !important;
	border-style: hidden !important;
}

option {
	background-color: var(--adage-background-color) !important;
}

adw-row {
	background-color: var(--adage-highlight-background-color);
}

adw-row-tp {
	background-color: var(--adage-faint-secondary-color);
}

adw-row-s {
	background-color: var(--adage-faint-primary-color);
}
